div.dashboard {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    height : 100%;
    justify-content: center;
}
  
div.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}