div.helper-info-body {
  display: flex;
  flex-direction: column;
  margin: auto;
  width : 50%;
  height: 50%;
  justify-content: center;
}

div.helper-info {
      padding: 2%;
      border-style: groove;
      border-color: lightgrey;
      border-radius: 20px;
      margin-bottom: 15px;
      text-align: start;
}

div.google-map {
  display: flex;
  overflow: auto;
  justify-content: center;
}
