div.helper-info-body {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  margin: auto;
  width : 50%;
  height: 100%;
  justify-content: center;

}

div.helper-info {
      padding: 2%;
      border-style: groove;
      border-color: lightgrey;
      border-radius: 20px;
      margin-bottom: 15px;
      text-align: start;
}
