#root {
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-height: 100%;
  background-color: transparent;
  max-width: 100%;
  height: 100%
}

div.topnav {
  display: flex;
  width: 100%;
  background-color: #0b6EFD;
}

h2.logo {
  margin-left: 0.5rem;
  color: white;
}


div.main-body {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: transparent;
  width: 100%;
  height : 100%;
  justify-content: center;
  overflow: scroll;
}


map {
  height: 200px;
  width: 200px;
}

div.google-map {
  display: flex;
  overflow: auto;
  justify-content: center;
}

li {
  float: left;
  display: inline;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 0px;
  text-decoration: none;
}